*{
    background-color: #d5e1df;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
body{
    padding:0;
    margin: 0;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
}
.answer-boxes {
    color: black;
    background-color: #d6cbd3;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.questions-box {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium
    ;
}

:root {
    --hue-neutral: 200;
    --hue-wrong:0;
    --hue-correct:145;
}
.contianer {
    width: 800px;
    max-width: 80%;
    background-color: #d5e1df;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}
.btn{
    --hue: var(var(--hue-neutral));
    background-color: wheat;
    border: 1px solid black;
}

.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}
.btn.wrong{
    --hue:var(--hue-wrong);
}

.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}